@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
    }

    /*-------- HEADER ---------*/

    .header>.container {
        width: 1158px;
    }

    .header-flex {
        display: flex;
        align-items: center;
    }

    .header-logo {
        margin-right: 77px;
    }

    .header-list {
        display: flex;
    }

    .header-litem {
        padding-right: 40px;
    }

    .header-litem:last-child {
        padding-right: 0;
    }

    .header-link {
        display: block;

        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-title-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

    .header-link:hover,
    .header-link:focus {
        color: var(--accent-color);
    }

    .current {
        position: relative;
        color: var(--pressed-state-color);
    }

    .current::after {
        position: absolute;
        left: 0;
        top: 44px;
        content: '';
        width: 100%;
        height: 4px;
        background-color: var(--pressed-state-color);
        border-radius: 2px;
    }

    .header-contacts {
        display: flex;
        flex-direction: row;
        margin-left: auto;
    }

    .header-contacts-litem {
        margin-right: 40px;
    }

    .header-contacts-litem:last-child {
        margin-right: 0px;
    }

    .contact-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

    .contact-link:hover,
    .contact-link:focus {
        color: var(--accent-color);
    }


    /* ---HERO--- */
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-desktop.jpg);
        background-size: contain;
        padding-top: 192px;
        padding-bottom: 192px;
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/people-office-desktop-2x.jpg);
        }
    }

    .hero>.container {
        width: 1158px;
    }

    /* ---OUR PRINCIPLES--- */
    .principles>.container {
        width: 1158px;
    }

    .principles {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .principles-list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 0;
    }

    .principles-litem {
        width: 264px;
        margin-right: 24px;
    }

    .principles-title {
        font-weight: 600;
        font-size: 20px;
        text-align: left;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--primary-title-color);
    }

    .principles-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
    }

    /* ---TEAM--- */
    .team>.container {
        width: 1158px;
    }

    .team-list {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 24px;
    }

    .team-litem {
        width: 100%;
    }

    /* ---COSTUMERS--- */
    .customers-litem {
        width: calc((100% - 5*24px) / 6);
    }

    /* ---FOOTER--- */
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-flex {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: start;
        gap: 0px;
    }

    .footer-logo-text {
        margin-right: 120px;
    }

    .footer-socmedia {
        margin-right: 80px;
    }

    .footer-subscribe-wrap {
        width: 100%;
    }

}